@if (Request.IsAuthenticated) {
    <strong>@Html.Encode(User.Identity.Name)</strong>
    <span class="loginBlock">@Html.ActionLink("Sign Out", "Logout", "User") <i class="fa fa-sign-out"></i></span>
}
else
{
    <span class="loginBlock">@Html.ActionLink("Log In", "LogIn", "User") <i class="fa fa-sign-in"></i></span>
}
