@if (Request.IsAuthenticated) {
    <strong>@Html.Encode(User.Identity.Name)</strong>
    @Html.ActionLink("Sign Out", "Logout", "User")
} else {
    @Html.ActionLink("Register", "Register", "User")
    <span> | </span>
    @Html.ActionLink("Log In", "LogIn", "User")
}
