@if (Request.IsAuthenticated) {
    <strong>@Html.Encode(User.Identity.Name)</strong>
    @Html.ActionLink("Sign Out", "Logout", "User") <i class="fa fa-sign-out"></i>
}
else
{
    @Html.ActionLink("Register", "Register", "User") <i class="fa fa-user"></i>
    <span> | </span>
    @Html.ActionLink("Log In", "LogIn", "User") <i class="fa fa-sign-in"></i>
}
