@model IEnumerable<TeamProjects.Models.timetable_facility>

@{
    ViewBag.Title = "Facilities";
}
<script type="text/javascript">
    window.onload = function () {
        $(".facilityTable").tablesorter({ sortList: [[0, 0]] });
    }
</script>
<h2>Facilities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="facilityTable toolslast">
<thead>
    <tr>
        <th>
            Facility Name
        </th>
        <th><i class="fa fa-wrench"></i></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Facility_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Facility_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Facility_ID })
        </td>
    </tr>
}
</tbody>
</table>
