@{
    ViewBag.Title = "Deparment Dashboard";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<h3>Need Attention</h3>
<h3>Recent Activity</h3>
<h3>Round Info</h3>
