/* Add Request Page
---------------------------------------------------------*/

.form-horizontal {
    text-align: center;
}
.form-group>div
{
    padding:10px;
}

.control-label col-md-2 {
    padding: 10px;
}

.btn btn-default { 
}

#container_header {
    background-color: #330066;
    color: #FFFFFF;
    font-weight: bold;
    height: 38px;
    margin: 20px auto 0;
    width: 960px;
    border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px; 
    -moz-border-radius: 0px;  
}

.container_inner {
    float: left;
    padding: 10px;
}

.form_section .title {
    background-color: #CC0066;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    padding: 7px;
    text-align: center;
    width: 926px;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 0px;     
}

.control-label {
    background-color: #330066;
    color: #ffffff;
    float: left;
    margin: -5px 10px 12px -5px;
    padding: 5px;
    text-align: center;
    width: 955px;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 0px;  
}

#Department_Code {
    border: 1px solid #ccc;
    color: #777;
    font-size: 140%;
    margin-bottom: 20px;
    max-width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
}

.input_option label {
    background-color: #330066;
    color: #ffffff;
    float: left;
    margin: -5px 10px 12px -5px;
    padding: 5px;
    text-align: center;
    width: 290px;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 0px; 
}

.wide {
    width: 910px!important;
}

#header {
    background-color: #330066;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%!important;
    z-index: 100;
}

#Module_Code,#Day_ID {
    background: #fff;
    border: 1px solid #ccc;
    color: #777;
    font-size: 140%;
    margin-bottom: 20px;
    max-width: 100%;
    outline: none;
    padding: 10px;
}

#Start_Time,#Duration,#Park_ID,#Number_Rooms,#Park_ID2,#Building_ID,#Room_Type,#Room_ID {
    background: #fff;
    border: 1px solid #ccc;
    color: #777;
    font-size: 140%;
    max-width: 100%;
    outline: none;
    padding: 10px;
}

#Number_Students,#Custom_Comments {
    background: #fff;
    border: 1px solid #ccc;
    color: #777;
    font-size: 140%;
    max-width: 100%;
    outline: none;
    padding: 10px;
}