/* Simple basic reusable classes to hide rows that don't meet the search*/
.hiderow {
    display:none;   
}
.showrow {
    display:table-row;
}
.requestrow {
    cursor:pointer;
    position:relative;
}
/*Show selected request and details for it*/
.selectedrow td {
    background-color: #d7d7d7;
}
.selectedrow td {
    border-top: 10px solid #F3F3F3;
}
.detailsrow td {
    border-bottom: 10px solid #F3F3F3;
}
.detailsrow {
    background-color:#e8e8e8;
    padding:10px;
}
.detailsheader {
    background-color: #330066;
    color: #FFF;
    border-color: #330066;
    border-style: solid;
    border-width: thin;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.detailscontent {
    padding: 5px; 
}
.selected td {
    background-color:#d7d7d7;
}
/*Hide extra columns that will be show in detailed view*/
.hidecell {
    display:none;
}
/*columns*/
.detail{margin-bottom:10px;}
.detail:last-child{margin-bottom:0px;}
.detail__title{box-sizing:border-box;float:left;width:49%;}
.detail__rooms{box-sizing:border-box;float:right;width:49%;}
.detail__weeks{clear:both;width:100%;}
.detail__comment{clear:both;width:100%;}