@{
    ViewBag.Title = "Help";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Click on the links below to receive a tour of your chosen page.</h2>
    <p><ul>
    <li>If you are having difficulties reading, please use the accessibility buttons to increase the font size or to change the colour.</li>
    <li>To create a new booking, go on the new bookings page and submit a request containing your desired requirements.</li>
    <li>If you wish to view the status of your booking, go on the view bookings page.</li>
    <li>Go on the module management page to add or remove modules from your department.</li>
    <li>Ad-hoc booking system is used to book rooms after the final booking round is complete. Rooms can be booked or released if the department no longer requires the room.</li>
</ul></p>
</hgroup>

<article>
    <li><a href="Module">Modules</a></li>
    <li><a href="Building">Buildings</a></li>
    <li><a href="Facility">Facilities</a></li>
</article>


