@model TeamProjects.Models.PasswordModel
@{
    ViewBag.Title = "Account";
}
<h2>Account</h2>
@if (TempData["changed"] != null)
{
    <div class="successdialog">
        <i class="fa fa-check"></i> You have successfully changed your password! Please use this password to log in with in the future.
    </div>
}
@using (Html.BeginForm())
{
    <div><label for="Password">New Password: </label></div>
    <div>
        @Html.PasswordFor(u => u.Password)
        @Html.ValidationMessageFor(u => u.Password) 
        <span class="passVal hide"><i class="fa fa-exclamation-triangle"></i> You must enter a password.</span>
    </div>
    
    <input class="submitPass" type="submit" value="Save Changes"/>
}
<script>
    $('#Password').keyup(function () {
        console.log($.trim($(this).val()));
        console.log($.trim($(this).val()) == '');
        if ($.trim($(this).val()) == '') {
            $('.passVal').removeClass('hide').addClass('show');
            $('.submitPass').attr('disabled', 'disabled');
        } else {
            $('.passVal').removeClass('show').addClass('hide');
            $('.sumbitPass').removeAttr('disabled');
        }
    });
</script>
