@{
    ViewBag.Title = "Help";
}
<script type="text/javascript">
</script>
<h2>Help</h2>
<h4><p><ul>
    <li> Click on the links below to receive a tour of your chosen page.</li>	
    <li>If you are having difficulties reading, please use the accessibility buttons to increase the font size or to change the colour.</li>
    <li>To create a new booking, go on the new bookings page and submit a request containing your desired requirements.</li>
    <li>If you wish to view the status of your booking, go on the view bookings page.</li>
    <li>Go on Buildings, Module or Facility page to add or remove content.</li>
    <li>Ad-hoc booking system is used to book rooms after the final booking round is complete. Rooms can be booked or released if the department no longer requires the room.</li>
</ul></p></h4>
<ul>
    <li><a href="~/Module?tour=1">Module Help</a></li>
    <li><a href="~/Building?tour=1">Building Help</a></li>
    <li><a href="~/Facility?tour=1">Facilities Help</a></li>
    <li><a href="~/Request/create?tour=1">Add Request</a></li>
    <li><a href="~/Requests/list?tour=1">Request List</a></li>
</ul>