@model TeamProjects.Models.RequestViewModel
@{
    ViewBag.Title = "Timetable";
}
@section Includes{
    <link href="@Url.Content("~/Content/Timetable.css")" rel="stylesheet" />
}

<h2>Timetable</h2>

<script type="text/javascript">

    $(document).ready(function () {
    	//populateTableData(4,1);
    });


    function populateTableData(round, week) {
        // TASK: populate table with all requests for selected round and week

        // Get all request data via getJSON() from RequestAPIController (make it from Matt's list code)
        $('#timetableDiv td').each(function(){$(this).empty();});
        $.getJSON("@Url.Action("RequestAPI", "api", null, Request.Url.Scheme)" + "?Round=" + round + "&Week=" + week)
            .done(function (data) {
            	console.log(data);
            	data.forEach(function (entry) {
            		var Start_Time = entry.Start_Period;
            		var Duration = (entry.End_Period) - (entry.Start_Period) + 1;
                    var added = false;
            		$("." + entry.Day).each(function () {
                        i++;
            			for (var col = Start_Time; col < (Start_Time + Duration) ; col++) {
            				alert("inside for: "+col);
            				if ($(this).find('td:nth-of-type(' + col + ')').text() == "") {
            					//if (col < ((Start_Time + Duration))) {
            						//IT'S A FREE PERIOD
            						$(this).find('td:nth-of-type(' + col + ')').append(entry.Module_Code);
                                    console.log(entry.Module_Code + " added to " + entry.Day + " row in column " + col);
            						added = true;
            					//}
            				} else {
            					//IT'S BOOKED, THIS ROW IS USELESS
            					break;
            				}
            			}
            		});
            		if (!added) {
            			console.log("not added" + entry.Module_Code + " added to " + entry.Day + " in column " + col);
            			var tableCellsString = "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>";
            			$("." + entry.Day).last().after("<tr class='" + entry.Day + "'>" + tableCellsString + "</tr>");

            			for (var col = Start_Time; col < (Start_Time + Duration) ; col++) {
            				alert("inside not added for: "+col);
            				$("." + entry.Day).last().find('td:nth-of-type(' + col + ')').append(entry.Module_Code);
            			}
            			//ADD NEW ROW HERE, THEN ADD THE REQUEST
            		}
            	});
                })

        .fail(function (jqXHR, textStatus, err) {
            console.log('Error: ' + err);
        });

        // for each request:
        // find request day
        // find request start time/period
        // find request duration
        // check first day row/start time crosschecked cell is free, then check ones for duration
        // if conflict, check next day row / start time cell is free then check ones for duration OR create new day row

        // make request cells clickable, which then shows all the requests data
    }

</script>

<body>
    @Html.DropDownList("RoundSemester")

    <select id="weekSelect">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
    </select>
	<input type="button" value="Update" onclick="populateTableData(document.getElementById('RoundSemester').options[document.getElementById('RoundSemester').selectedIndex].value, document.getElementById('weekSelect').options[document.getElementById('weekSelect').selectedIndex].value);" />
    <br /><br />
    <div id="timetableDiv">
    <table>
        <tr class="Mon">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="Tues">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="Wed">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="Thur">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="Fri">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
        </div>
</body>


