@model TeamProjects.Models.RequestViewModel
@{
    ViewBag.Title = "Timetable";
}
@section Includes{
    <link href="@Url.Content("~/Content/Timetable.css")" rel="stylesheet" />
}

<h2>Timetable</h2>

<script type="text/javascript">

	var timetableData;

    $(document).ready(function () {
        //populateTableData(4,1);
        appendRoundTag();
    });

    function appendRoundTag() {
        document.getElementById("RoundSemester").options[document.getElementById("RoundSemester").length - 2].text = document.getElementById("RoundSemester").options[document.getElementById("RoundSemester").length - 2].text + " | Current";
        document.getElementById("RoundSemester").options[document.getElementById("RoundSemester").length - 1].text = document.getElementById("RoundSemester").options[document.getElementById("RoundSemester").length - 1].text + " | Adhoc";
    }

    function populateTableData(round, week) {
        $('.tableloading').addClass('loading').html('<i class="fa fa-spinner"></i>');
        // TASK: populate table with all requests for selected round and week

        // Get all request data via getJSON() from RequestAPIController (make it from Matt's list code)
    	$('#timetableDiv td').each(function(){$(this).empty();});
        $.getJSON("@Url.Action("RequestAPI", "api", null, Request.Url.Scheme)" + "?Round=" + round + "&Week=" + week)
            .done(function (data) {
            	timetableData = data;
            	data.forEach(function (entry) {
            		var Start_Time = entry.Start_Period;
            		var Duration = (entry.End_Period) - (entry.Start_Period) + 1;
                    var added = false;
            		$("." + entry.Day).each(function () {
            			for (var col = Start_Time; col < (Start_Time + Duration) ; col++) {
            				//alert("inside for: "+col);
            				if ($(this).find('td:nth-of-type(' + col + ')').text() == "") {
            					//if (col < ((Start_Time + Duration))) {
            					//IT'S A FREE PERIOD
            					$(this).find('td:nth-of-type(' + col + ')').append("<div onclick='updateRequestInfoPanel(\"" + entry.Request_ID + "\",this);'>"+entry.Module_Code+"</div>");
                                    //console.log(entry.Module_Code + " added to " + entry.Day + " row in column " + col);
            						added = true;
            					//}
            				} else {
            					//IT'S BOOKED, THIS ROW IS USELESS
            					break;
            				}
            			}
            		});
            		if (!added) {
            			//console.log("not added" + entry.Module_Code + " added to " + entry.Day + " in column " + col);
            			var tableCellsString = "<th>"+entry.Day+"</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>";
            			$("." + entry.Day).last().after("<tr class='" + entry.Day + "'>" + tableCellsString + "</tr>");

            			for (var col = Start_Time; col < (Start_Time + Duration) ; col++) {
            				//alert("inside not added for: "+col);
            				$("." + entry.Day).last().find('td:nth-of-type(' + col + ')').append("<div onclick='updateRequestInfoPanel(\"" + entry.Request_ID + "\",this);'>" + entry.Module_Code + "</div>");
            			}
            			//ADD NEW ROW HERE, THEN ADD THE REQUEST
            		}
                    $('.tableloading').empty();
            	});
                })

        .fail(function (jqXHR, textStatus, err) {
            console.log('Error: ' + err);
            $('.tableloading').empty().removeClass('loading').append('<i class="fa fa-exclamation-triangle"></i>');
        });
    }

	function updateRequestInfoPanel(RequestID, cell) {
		timetableData.forEach(function (entry) {
			if (entry.Request_ID == RequestID) {
                console.log(entry);
				$('.entry').empty();
				$('.Module_Code').html(entry.Module_Code);
                $('.Round').html(entry.Round);
                $('.Day').html(entry.Day);
                $('.Periods').html(entry.Start_Period + ' - ' + entry.End_Period + " | " + entry.Time_String);
                $('.Park').html(entry.Park);
                $('.Number_Rooms').html(entry.Number_Rooms);
                $('.Number_Students').html(entry.Number_Students);
                if(entry.Priority){
                    $('.Priority').html("<span><i class='fa fa-check'></i></span>");
                } else {
                    $('.Priority').html("<span><i class='fa fa-times'></i></span>");
                }
                if(entry.Has_Comments){
                    $('.Has_Comments').html("<span><i class='fa fa-check'></i></span>");
                } else {
                    $('.Has_Comments').html("<span><i class='fa fa-times'></i></span>");
                }
                $('.Status').html(entry.Status);
                $('.Module_Title').html(entry.Module_Title);
                $('.Tools').html('<a href="./Edit/'+entry.Request_ID+'">Edit</a><span>|</span><a href="./Duplicate/'+entry.Request_ID+'">Duplicate</a><span>|</span><a href="./Delete/'+entry.Request_ID+'">Delete</a>');
			}
		});
        var is_selected = $(cell).hasClass('selected');
        $('#requestTable .selected').removeClass('selected');
        if(!is_selected){
            $(cell).addClass('selected');
            $('#infoTable').removeClass('hidetable').addClass('showtable');
        } else {
            $('#infoTable').removeClass('showtable').addClass('hidetable');
        }
	}

        // for each request:
        // find request day
        // find request start time/period
        // find request duration
        // check first day row/start time crosschecked cell is free, then check ones for duration
        // if conflict, check next day row / start time cell is free then check ones for duration OR create new day row

        // make request cells clickable, which then shows all the requests data

</script>
<body>
    @Html.DropDownList("RoundSemester")

    <select id="weekSelect">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
    </select>
	<input type="button" value="Update" onclick="populateTableData(document.getElementById('RoundSemester').options[document.getElementById('RoundSemester').selectedIndex].value, document.getElementById('weekSelect').options[document.getElementById('weekSelect').selectedIndex].value);" />
    <div class="tableloading loading"></div>
    <br /><br />
    <div id="timetableDiv">
    <table id="requestTable">
        <tr>
            <th style="width:182px;"></th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
        </tr>
        <tr class="Mon">
            <th>Mon</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="Tues">
            <th>Tues</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="Wed">
            <th>Wed</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="Thur">
            <th>Thur</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="Fri">
            <th>Fri</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    </div>
	<div id="requestInfoDiv">
        <table id="infoTable" class="toolslast hidetable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Round</th>
                <th>Day</th>
                <th>Periods</th>
                <th>Park</th>
                <th>Rooms</th>
                <th>Students</th>
                <th>Priority</th>
                <th>Comment</th>
                <th>Status</th>
                <th><i class="fa fa-wrench"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
        </thead>
                <td>@User.Identity.Name<span class="entry Module_Code"></span></td>
                <td class="entry Round"></td>
                <td class="entry Day"></td>
                <td class="entry Periods"></td>
                <td class="entry Park"></td>
                <td class="entry Number_Rooms"></td>
                <td class="entry Number_Students"></td>
                <td class="entry Priority"></td>
                <td class="entry Has_Comments"></td>
                <td class="entry Status"></td>
                <td class="entry Tools"></td>
            </tr>
            <tr class="detailsrow details-hiderow">
                <td colspan="11">
                    <div class='detail detail__title'><div class='detailsheader'>Title</div><div class='detailscontent entry Module_Title'></div></div>
                    <div class='detail detail__rooms'><div class='detailsheader'>Room Preferences</div><div class='detailscontent entry Rooms'></div></div>
                    <div class='detail detail__weeks'><div class='detailsheader'>Weeks</div><div class='detailscontent entry Weeks'></div></div>
                    <div class='detail detail__comment'><div class='detailsheader'>Comments</div><div class='detailscontent entry Custom_Comments'></div></div>
                </td>
            </tr>  
        </tbody>
        </table>
	</div>
</body>


