@{
    ViewBag.Title = "Timetable";
}
@section Includes{
    <link href="@Url.Content("/Content/Timetable.css")" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/tools/calendar.js"></script>
}
<h2>Timetable</h2>

<select>
    @{
        for (var i = 0; i < ViewBag.RoundCodes.Length; i++)
        {
            <option>Round @ViewBag.RoundCodes[i] @ViewBag.RoundStarts[i]-@ViewBag.RoundEnds[i]</option>   
        }
    }
</select>
<div id="timetable"></div>
<script>calendar.make('timetable');</script>
