@model Team_Projects.Models.timetable_facility

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>timetable_facility</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Facility_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Facility_Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Facility_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
